<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #1 | Admin Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    @Styles.Render("~/CSS/core")
    @Styles.Render("~/CSS/global")

    @RenderSection("Styles", false)

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="login">

    @RenderBody()

    <!--[if lt IE 9]>
       <script src="assets/global/plugins/respond.min.js"></script>
       <script src="assets/global/plugins/excanvas.min.js"></script>
       <script src="assets/global/plugins/ie8.fix.min.js"></script>
       <![endif]-->
    @Scripts.Render("~/JS/core")
    @Scripts.Render("~/JS/global/plugins")


    @RenderSection("Scripts",false)
</body>
</html>