@model IEnumerable<WebSite.Infraestrutura.DataBase.Contexto.Tables.Parametros>

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<p>
    @Html.ActionLink("Criar Novo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeParametro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagHTML)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeParametro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagHTML)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalhe", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
